*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  @include responsive(tab-land) {
    font-size: 56.25%; // 1rem = 9px
  }
  @include responsive(tab-port) {
    font-size: 50%; // 1rem = 8px
  }
  @include responsive(big-desktop) {
    font-size: 75%; // 1rem = 12px
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-gray-dark;
  padding: 3rem;
  box-sizing: border-box;

  @include responsive(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
